.ss-share {
  padding-left: 0;
  list-style: none; 
  background-color: #f2f4f5;
  padding:8px;

}

.ss-share li {
  display: inline;
  font-size:80%;
  font-weight: 400;
  margin-right: 1.0rem;
}

.ss-share li a { border:0; }
.ss-share li a i { margin-right:2px; }
